.selectedEl {
  &:nth-child(even) {
    @apply md:translate-x-[63%] lg:translate-x-[55%];
  }
  &::after,
  &::before {
    content: "";
    @apply bg-[var(--main-color-dimmed)] opacity-0 h-full w-full max-md:hidden absolute top-0 left-0 transition-all duration-700 -z-10 ease-out;
  }
  &:hover::after {
    @apply left-3 top-3;
  }
  &:hover::before {
    @apply left-6 top-6;
  }
}
