.navMenuUl li {
  @apply relative p-8 md:p-10 pr-32 w-full uppercase transition-colors duration-75;
  &:hover::before {
    opacity: 1;
  }
  &::before {
    content: "";
    @apply absolute bg-primary-100 aspect-square rounded-full w-2 left-3 top-1/2 -translate-y-1/2 transition-all duration-300 opacity-0;
  }
  &:first-child {
    @apply border-none;
  }
}
