.theO {
  @apply relative;
  .theOSon {
    @apply top-[49.8%] left-[33%] md:left-[28%];
  }
  & * {
    @apply transition-colors duration-300;
  }
  .theOSon,
  .theOSon2 {
    @apply h-[.7rem] w-2 aspect-square lg:h-5 lg:w-4 md:h-4 md:w-3 rounded-[100%] absolute;
  }
  .theOSon span {
    @apply left-[70%];
  }
  .theOSon,
  .theOSon2 {
    span {
      @apply w-1 h-1 md:w-2 md:h-2 max-md:-translate-x-1/2 max-md:-translate-y-1/2 top-[50%] md:top-[25%] md:left-[25%] rounded-full absolute;
    }
  }
  .theOSon2 {
    @apply top-[49.7%] right-[20%] md:right-[16%];
    span {
      @apply md:top-[28%] left-[75%] md:left-[26%];
    }
  }
}
