.skillsGrid {
  & > div {
    @apply aspect-square flex items-center justify-center relative flex-col gap-5 border border-[var(--light-color)] transition-colors duration-500 -ml-px -mt-px;
  }
  @apply grid my-20 md:px-10;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  .skillGridCard {
    &::before,
    &::after {
      content: "";
      @apply -z-10 h-px w-[300vh] bg-[var(--light-color)]  left-[-200%] absolute;
    }
    &::before {
      @apply bottom-[-1px];
    }
    &::after {
      @apply top-[-1px];
    }
  }
  .joint {
    @apply absolute bg-[var(--main-color)] w-px h-px z-20;
    &::before,
    &::after {
      content: "";
      @apply absolute bg-[var(--main-color)];
    }
    &::before {
      @apply w-px h-[9px] top-[-4px];
    }
    &::after {
      @apply h-px w-[9px] left-[-4px];
    }
  }
}

.animate-bg {
  @apply text-[var(--main-color-dimmed)] font-light text-lg;
  animation: animate-bg infinite 2s linear;
  -webkit-animation: animate-bg infinite 2s linear;
}

@keyframes animate-bg {
  0%,
  100% {
    @apply bg-[var(--bg-color)];
  }
  40% {
    @apply bg-[var(--light-color)];
  }
}
