.textSection h2 {
  & > span {
    @apply relative px-4 md:px-10;
    &:hover .inner {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
  }

  .inner {
    @apply bg-primary-100 px-4 md:px-10 text-dark origin-center w-full absolute inline-block top-0 -translate-x-1/2 left-1/2;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  }
}
