@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

// vars
$dark-color: #111;
$light-color: #ffffff;
$dimmed-color: #ffffff80;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body {
  font-size: 16px;
  background-color: $dark-color;
  user-select: none;
}

@media (min-width: 1280px) {
  .cont {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .cont {
    max-width: 1536px;
  }
}
// lenis required css
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.wrapper {
  overflow: hidden;
}
