@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --main-color: #ffffff;
  --sec-color: #ffffff;
  --light-color: #333;
  --main-color-dimmed: #ffffff80;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::selection {
  color: var(--main-color-dimmed);
  background-color: #333;
}
body {
  background-color: var(--bg-color);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: none;
  overflow-x: hidden;
  user-select: none;
  @apply bg-[var(--bg-color)] text-[var(--main-color)]
    transition-colors duration-300;
}

@media (min-width: 1280px) {
  .cont,
  .textSection .inner {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .cont,
  .textSection .inner {
    max-width: 1536px;
  }
}

// custome animations
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
    -webkit-transform: translate(0, -0px);
    -moz-transform: translate(0, -0px);
    -ms-transform: translate(0, -0px);
    -o-transform: translate(0, -0px);
  }
}
.wrapper {
  overflow: hidden;
}
// custom
#tsparticles {
  z-index: -50;
  position: fixed;
}
