@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

// vars
$dark-color: #111;
$light-color: #ffffff;
$dimmed-color: #ffffff80;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body {
  font-size: 16px;
  background-color: $dark-color;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  cursor: none;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .cont {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .cont {
    max-width: 1536px;
  }
}
// lenis required css
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
