$animation-time: 10s;
$card-width: 26.5rem;
$products-length: var(--products-length);

.slider {
  @apply flex max-md:hidden overflow-x-hidden w-max gap-10;
  & > div {
    @apply w-96;
    img {
      @apply max-w-full h-full;
    }
  }
}

.slider {
  animation: scroll $animation-time linear infinite;
  -webkit-animation: scroll $animation-time linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}
.sliderReverse {
  animation: scrollReverse $animation-time linear infinite;
  -webkit-animation: scrollReverse $animation-time linear infinite;
}

.hover-reveal-img {
  background-size: cover;
  background-position: 50% 50%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(calc($card-width * $products-length * -1));
    -webkit-transform: translateX(calc($card-width * $products-length * -1));
    -moz-transform: translateX(calc($card-width * $products-length * -1));
    -ms-transform: translateX(calc($card-width * $products-length * -1));
    -o-transform: translateX(calc($card-width * $products-length * -1));
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(calc($card-width * $products-length * -1));
    -webkit-transform: translateX(calc($card-width * $products-length * -1));
    -moz-transform: translateX(calc($card-width * $products-length * -1));
    -ms-transform: translateX(calc($card-width * $products-length * -1));
    -o-transform: translateX(calc($card-width * $products-length * -1));
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
